body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
:root {
  --basic-color: #2196f3;
  --color-paragraph: #757575;
}
.header {
  background: #ffffff;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo > span {
  color: #000000;
}

.header-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--basic-color);
}
.header-adress {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
}

.adress-item {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-paragraph);
}
.adress-item:hover,
.adress-item:focus {
  color: var(--basic-color);
}

.main-heading {
  background-color: #2f303a;
}

.main-caption {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.main-btn {
  background-color: var(--basic-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.benefits-list {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.benefits-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.benefits-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-paragraph);
}

.developer-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.team-list {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.team-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: #212121;
}

.team-paragraph {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--color-paragraph);
}

.footer-list {
  background-color: #2f303a;
}

.logo-footer > span {
  color: #ffffff;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover,
.address-link:focus {
  color: var(--basic-color);
}

.footer-list:hover,
.footer-list:focus {
  color: var(--basic-color);
}

.btn-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.btn-item:hover,
.btn-item:focus {
  background-color: var(--basic-color);
  color: #ffffff;
}

.example-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: #212121;
}

.example-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--color-paragraph);
}
